<!-- Modal Structure -->
<div id="modalDetalheProduto" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="truncate">Camiseta Tabajara Futebol Clube</h4>
        <hr />
        <div class="row">
            <div class="col s12 m12 l4">
                <img class="img-produto" src="@Url.Content("~/Images/Produtos/camiseta tabajara.jpg")" data-zoom-image="@Url.Content("~/Images/Produtos/camiseta tabajara.jpg")" />
            </div>
            <div class="col s12 m12 l8 detalhe-produto">
                <div class="row">
                    <div class="col s12">
                        <span>Preço: R$ 129,90</span>
                    </div>
                    <div class="col s12">
                        <span>Peso: 0,1KG</span>
                    </div>
                    <div class="col s12">
                        <span>Referência</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action waves-effect btn">Comprar</a>
    </div>
</div>
