div.produto-listagem:hover
{
    background: #dbdbdb;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat
{
    margin: 6px;
}

div.produto-listagem-inner
{
    padding: 5px 0px;
}

img.img-produto
{
    height: 220px;
    width: 100%;
    max-width: 240px;
}

.preco-produto span
{
    font-size: 24px;
}

div.detalhe-produto div
{
    margin-bottom: 1rem;
}

div.detalhe-produto div span
{
    font-size: 16pt;
}