
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documento De Transporte</title>
</head>
<body>
    <div class="row"> 
        <div class="col-md-12">
            @*ViewBag.Pedido*@
        </div>
    </div>
</body>
</html>
