
@{
    ViewBag.Title = "Pedidos com Pagamento Pendente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Pedidos com Pagamento Pendente</h4>
<br />
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Status</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in ViewBag.Pedidos)
        {
            <tr>
                <td>@pedido.Numero</td>
                <td>@pedido.Cliente.Nome</td>
                
                    @if (pedido.Status == Dominio.Enums.StatusPedido.AguardandoConfirmacaoPagamento)
                    {
                        <td>Aguardando Confirmação de Pagamento</td>
                    }
                    else
                    {
                        <td>Pendente de Envio</td>
                    }
                
                @{
                    var total = 0;
                    foreach (var produto in pedido.Produtos)
                    {
                        total += produto.Quantidade * produto.Produto.Preco;
                    }
                }
                <td>R$ @total.ToString("N")</td>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/Scripts/pedidosPendentes")
