
@{
    ViewBag.Title = "Pedidos com Pagamento Pendente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Pedidos com Pagamento Pendente</h4>
<br />
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in ViewBag.Pedidos)
        {
            <tr>
                <th>@pedido.Numero</th>
                <th>@pedido.Cliente.Nome</th>
                @{
                    var total = 0;
                    foreach (var produto in pedido.Produtos)
                    {
                        total += produto.Quantidade * produto.Produto.Preco;
                    }
                }
                <th>R$ @total.ToString("N")</th>
                <th></th>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/Scripts/pedidosPendentes")
