@using Web.Helpers
@{
    ViewBag.Title = "Emissão de documento de transporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Emissão de documento de transporte</h4>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Número NF</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in ViewBag.Pedidos)
            {
                <tr>
                    <td>@pedido.Numero</td>
                    <td>@pedido.Data</td>
                    <td>
                        <a href="@Url.Action("EmitirDocumentos", "Faturamento")?idPedido=@pedido.IdPedidoCliente" class="waves-effect waves-light btn mobile-button"><i class="material-icons right">send</i>Emitir documento</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>