@using Web.Helpers
@{
    ViewBag.Title = "Reposição de Estoque";
}

<h4>Reposição de estoque</h4>
<div class="row">
    <div class="col s12 lista-produtos">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <th colspan="2">Produto</th>
                    <th>Estoque</th>
                    <th>Requerido</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>#125</td>
                    <td><img src="~/Content/images/produtos/notfound.png" /></td>
                    <td>
                        <span>Iphone 5s</span>
                    </td>
                    <td>5</td>
                    <td>0</td>
                    <td>
                        <a data-id="125" class="waves-effect waves-light btn" href="#modal-fornecedor"><i class="material-icons right">queue</i>Repor</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Reposição -->
<div id="modal-fornecedor" class="modal modal-fornecedor">
    <div class="modal-content">
        <h4>IPHONE 5S</h4>
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12 m6 l6">
                    @Html.TextBox("quantidade", "")
                    @Html.Label("Quantidade necessária", new { @for = "quantidade" })
                </div>
                <div class="input-field col s12 m6 l6">
                    @Html.DropDownList("fornecedores", new SelectListItem[] {
                    }, "Selecione uma opção")
                    @Html.Label("Fornecedor", new { @for = "fornecedores" })
                </div>
            </form>
        </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="waves-effect waves-light btn"><i class="material-icons right">done</i>Salvar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>