@using Web.Helpers
@{
    ViewBag.Title = "Reposição de Estoque";
}

<h4>Reposição de estoque</h4>
<div class="row">
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>#125</td>
                    <td><img src="~/Content/images/" /></td>
                    <td>$0.87</td>
                    <td>$0.87</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>