
@{
    ViewBag.Title = "Compras Aguardando Recebimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Relatorio de Compras Aguardando Recebimento</h2>
<br />
<table>
    <thead>
        <tr>
            <th>Número NF</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in ViewBag.compras)
            {
            <tr>
                <td>@compra.NumeroNF</td>
                <td>@compra.Data</td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Relatorio -->
<div id="modal-receber-notafiscal" class="modal">
    <div class="modal-content">
        <h4></h4>
        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Fornecedor</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a onclick="Compra.salva_pedido();" href="javascript:void(0);" class="waves-effect waves-light btn mobile-button"><i class="material-icons right">done</i>Salvar</a>
            <a href="#!" class="modal-action modal-close waves-effect btn-flat btn-gray mobile-button">Cancelar</a>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/listagemNaoRecebidas")
